@import "./libs";
@import "./vars";
@import "./fonts";

h1 {
  font-family: "Fira Sans", serif;
  font-weight: 300;
}

::placeholder {
  color: rgb(128, 128, 128);
}

body {
  background-color: yellowgreen;
}

.test {
  background-color: red;
}

.omitted-snow {
  background-color: blue;
  width: 400px;
  height: 400px;
}

@import "./media/media";
